# Ignoriere Dateien, die mit ".log" enden
*.log

# Ignoriere das Verzeichnis "node_modules"
node_modules/

# Ignoriere die Datei "package.json"
package.json
package-lock.json

#main ignore
index.js
meta.json
